<!DOCTYPE html>
<html>
<head>
    <title>区块链原型</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<script>

    function makeAlert(){
        alert("start mine");
    }

    function makeAlert1(){
        alert("stop mine");
    }

</script>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content" style="margin-top: -150px">
                <h2>区块链原型系统</h2>
                <a href="http://localhost:8080/startmine"><button id = "bbb div-button" class="btn btn-default btn-lg" onclick="makeAlert()">  开始挖矿 </button></a>

                <a href="http://localhost:8080/stopmine"><button id = "bbb div-button" class="btn btn-default btn-lg" onclick="makeAlert1()">  停止挖矿 </button></a>

                <br/>
                <br/>

                <a href="http://localhost:8080/blocks"><button id = "bbb div-button" class="btn btn-default btn-lg"  >   区块链  </button></a>

                <a href="http://localhost:8080/wallet"><button id = "bbb div-button" class="btn btn-default btn-lg"  >   钱包余额 </button></a>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>